@import './../../../assets/style/colors.scss';

.page-section {
    min-height: calc(100vh - 60px - 48px);
}

.form-group {
    transition: 0.5s;

    .form-error-text {
        display: none;
    }

    &.invalid {
        color: red;

        .form-control {
            border-color: red;
        }

        .form-error-text {
            margin-top: 0.4em;
            display: block;
        }
    }

    &.valid {
        color: green;
    }

}

.contact-info-wrapper {
    margin: auto auto 32px auto;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: rgba(47, 50, 53, 0.3);

    .contact-info-social {
        margin: auto 0 auto 32px;
        text-align: center;
    }
}