<section class="page-section" id="presentation-section">
    <div class="container">
        <main  class="page-section__main row">
            <div class="col-md-6">
                <article>
                    <h3>{{ "Languages" | translate: 'languages' }}</h3>
                    <blockquote>
                        <q>If you talk to a man in a language he understands, that goes to his head. If you talk to him in his own language, that goes to his heart.</q>
                        <cite> - Nelson Mandela</cite>
                    </blockquote>
                    <ul class="list-inline">
                        <li *ngFor="let lang of resume.getLanguages()">
                            <strong class="mr-1">{{ lang.title }}</strong>
                            <span>{{ lang.rank }}</span>
                        </li>
                    </ul>
                </article>
            </div>
            <article class="col-md-6">
                <h3>{{ "My tastes" | translate: 'myTastes' }}</h3>
                <ul class="taste-wrapper list-unstyle">
                    <li class="taste-item interactable-box"
                        *ngFor="let item of resume.getTastes()">
                        <img class="taste-item-image" [src]="item.image"/>
                        <div class="taste-item-content">
                            <span class="taste-item-text">{{ item.title }}</span>
                        </div>
                    </li>
                </ul>
            </article>
        </main>
    </div>
</section>