<section class="page-section" id="presentation-section">
    <div class="container">
        <div class="row">
            <main class="col-md-7">
                Lorem Ipsum
            </main>
            <aside class="col-md-5">
                <h3>My Skills</h3>
                <ul class="list-inline">
                    <li class="badge badge-light p-2 mr-2 mb-2">HTML</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">CSS</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">SASS</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">JavaScript</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">TypeScript</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Angular</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">NodeJS</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Git</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">GitLab</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Jira</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Docker</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Jenkins</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">SonarQube</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Azure</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Responsive Design</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">UML Diagrams</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Agile</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">UX/UI Design</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">SEO</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">MySQL</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">MongoDB</li>
                    <li class="badge badge-light p-2 mr-2 mb-2">Unity</li>
                </ul>
                <h3>I do speak some languages...</h3>
                <blockquote>
                    <q>If you talk to a man in a language he understands, that goes to his head. If you talk to him in his own language, that goes to his heart.</q>
                    <cite> - Nelson Mandela</cite>
                </blockquote>
                <ul class="list-inline row">
                    <li class="col-md-6">
                        <strong class="mr-1">French</strong>
                        <span>(Mother Tongue)</span>
                    </li>
                    <li class="col-md-6">
                        <strong class="mr-1">English</strong>
                        <span>(Professional level)</span>
                    </li>
                    <li class="col-md-6">
                        <strong class="mr-1">Spanish</strong>
                        <span>(B2)</span>
                    </li>
                    <li class="col-md-6">
                        <strong class="mr-1">Japanese</strong>
                        <span>(JLPT 5)</span>
                    </li>
                </ul>
                <h3>Current Hobbies</h3>
            </aside>
        </div>
    </div>
</section>