$black: rgb(0, 0, 0);

$app-black: rgb(37, 40, 43);
$app-grey: rgb(117, 120, 123);
$app-white: rgb(247, 250, 253);

$app-primary-color-a: rgb(2, 7, 18);
$app-primary-color-b: rgb(16, 32, 66);
$app-primary-color-c: rgb(46, 66, 114);
$app-primary-color-d: rgb(91, 114, 162);
$app-primary-color-e: rgb(162, 185, 230);

$header-bg-color: #000;
$header-text-color: #fff;
$header-text-hover-color: #fff;

$app-btn-bg-color: rgb(247, 250, 253);
$app-btn-hover-color: rgb(91, 114, 162);