@import './colors.scss';

// Titles

@for $i from 1 through 6 {
    h#{$i} {
        max-width: 100vw;
        margin: 0.42em 0;
        font-family: 'Lilita One', cursive;
        font-size: calc( 2.8em - 0.4em * #{$i} );
        font-weight: normal;
    }
}

// Section panels

.page-section {
    &.dark-background {
        background-color: lighten($app-black, 5%);
        color: $app-white;
    }

    &.colored-background {
        background-color: $app-primary-color-d;
        color: $app-white;
    }
}

.page-section__main {
    max-width: 60em;
    margin: 0 auto;
}

// Button classes, inspiration from there : https://fdossena.com/?p=html5cool/buttons/i.frag

.role-icon {
    border: 1px solid $app-black;
    border-radius: 50%;
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none !important;

    &.dark-mode {
        border-color: $app-white;
        color: $app-white;
    }
}

.interactable-box {
    border: 1px solid $app-black;
    border-radius: 0.425em;
    box-sizing: border-box;
    box-shadow: 4px 4px $app-black;
    text-decoration: none;
    cursor: pointer;

    &.dark-mode {
        border-color: $app-white;
        box-shadow: 4px 4px $app-white;
        color: $app-white;
    }
}

$btn-height: 2.6em;

a.button, button.button {
    @extend .interactable-box;
    position: relative;
    display: inline-block;
    height: $btn-height;
    padding: calc(#{$btn-height} / 5) calc(#{$btn-height} / 2);
    text-transform: uppercase;
    font-weight: 400;
    color: $app-black;
    background-color: $app-btn-bg-color;
    text-align: center;
}

a.button:hover, button.button:hover {
    background-color: $app-btn-hover-color;
    color: $app-white;
}

@media only screen and (max-width:30em){
    a.button, button.button{
        display:block;
        margin:0.4em auto;
    }
}

.text-xl { font-size: 2rem; }

.theme-text-shadow {
    text-shadow: -1px -1px 0 $header-bg-color, 1px -1px 0 $header-bg-color, -1px 1px 0 $header-bg-color, 1px 1px 0 $header-bg-color, 2px 2px 0 $header-bg-color;
}

// scrollbar
body::-webkit-scrollbar {
    width: 0.75em;
}

body::-webkit-scrollbar-thumb {
    background-color: $app-primary-color-a;
}