<header class="header">
  <div class="header-left">
    <div class="header-side-button">D</div>
    <span class="header-title">{{ 'Sébastien CAYET' | translate:'title' }}</span>
  </div>
  <div class="header-middle">
    <ng-container *ngFor="let btn of navigationButton">
      <a class="header-main-button"
        [class.selected]="currentRoute === '/' + btn.route"
        [routerLink]="btn.route"
        routerLinkActive="active">
        <app-icon [icon]="btn.iconName"></app-icon>
      </a>
    </ng-container>
  </div>
  <div class="header-right">
    <span class="btn-group">
      <button class="header-side-button dropdown-toggle locale-button" type="button" data-toggle="dropdown">
        <img class="locale-button-image"
          [src]="getCurrentLocale().image"
          [alt]="getCurrentLocale().id.toUpperCase()"/>
        <div class="locale-button-text">{{getCurrentLocale().id.toUpperCase()}}</div>
        <div class="locale-button-arrow-down"></div>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <ng-container *ngFor="let locale of getAvailableLocales()">
          <button class="dropdown-item" (click)="setLocale(locale.id)">{{locale.name}}</button>
        </ng-container>
      </div>
    </span>
  </div>
</header>