@import './../../../assets/style/colors.scss';

$header-height: 60px;
$header-padding: 8px;
$side-button-size: calc(#{$header-height} - 2 * #{$header-padding});

.header {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $app-black;
    color: $app-white;

    .header-middle {
        display: flex;
    }
}

.header-left, .header-right {
    flex: 1;
    display: flex;
    padding: $header-padding;

    > *:not(:last-child) {
        margin-right: $header-padding;
    }
}

.header-right {
    justify-content: right;
}

.header-main-button {
    height: 100%;
    width: calc(#{$header-height} * 3 / 2);
    background-color: transparent;
    border: none;
    border-bottom: solid 4px transparent;
    color: rgba($app-white, 0.4);
    line-height: calc(#{$header-height} - 4px);
    text-align: center;
    text-decoration: none;
    font-size: calc((#{$header-height} - 4px)* 0.42);

    &.selected {
        background-color: rgba($app-primary-color-e, 0.1);
        border-bottom: solid 4px $app-primary-color-e;
        color: $app-primary-color-e;
    }

    &:hover {
        background-color: rgba($app-white, 0.1);
        border-bottom: solid 4px $app-white;
        color: $app-white;
        transition: 0.5s;
        cursor: pointer;
    }
}

.header-side-button {
    height: $side-button-size;
    width: $side-button-size;
    border-radius: calc((#{$header-height} - 2 * #{$header-padding}) / 2);
    background-color: rgba($app-white, 0.1);
    border: none;
    color: $app-white;
    text-align: center;
    line-height: $side-button-size;

    &:hover {
        background-color: rgba($app-white, 0.3);
        transition: 0.5s;
        cursor: pointer;
    }
}

.header-title {
    margin: auto 5px;
    font-size: calc(#{$header-height} / 3);
    font-weight: bold;
    font-family: 'Lilita One';
}

.site-icon-button {
    .site-icon-button-image {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
    }
}

.locale-button {
    $border: 3px;
    position: relative;
    border: $border solid $black;
    overflow: hidden;

    .locale-button-image {
        position: absolute;
        left: -$border;
        top: -$border;
        width: $side-button-size;
        max-width: $side-button-size;
        height: calc(#{$side-button-size} * 0.95);
        max-height: $side-button-size;
    }

    .locale-button-text {
        position: absolute;
        left: -$border;
        bottom: -$border;
        width: $side-button-size;
        height: calc(#{$side-button-size} / 3);
        background-color: $black;
        color: $app-white;
    }

    .locale-button-arrow-down {
        $arrow-size: 4px;
        position: absolute;
        left: calc(50% - #{$arrow-size});
        bottom: 2px;
        width: 0;
        height: 0;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        border-top: $arrow-size solid $app-white;
    }
}

