@import '../../../../assets/style/colors.scss';

.home-about__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 27em;
    border: 1px solid $app-black;
    border-radius: 0.425em;
    box-sizing: border-box;
    text-decoration: none;

    > img {
        position: absolute;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        top: 0;
        right: 0;
    }
}