<section class="page-section" id="role-section">
    <div class="container">
        <h2 class="text-center iconed-text">
            {{ data?.roles.title }}
        </h2>
        <div class="text-center mb-1">
            <span class="icon-star-regular"></span>
        </div>
        <p class="text-center">
			@for (desc of data?.roles.description; track $index; let indes = $index) {
				{{ desc }}<br/>
			}
        </p>
        <main class="page-section__main row">
			@for (item of data?.roles.items; track $index) {
				<article class="col-md-4 text-center">
					<div class="role-icon">
						<span [class]="item.icon"></span>
					</div>
					<h3>{{ item.title }}</h3>
					@for (desc of item.description; track $index) {
						<p>{{ desc }}</p>
					}
					<h4>{{ item.tagsTitle }}</h4>
					<p>
						@for (tag of item.tags; track $index; let isLast = $last) {
							<span>
								{{ tag }} @if (!isLast) {,}
							</span>
						}
					</p>
					<h4>{{ item.toolsTitle }}</h4>
					<ul class="list-unstyled">
						@for (tool of item.tools; track $index) {
							<li>{{ tool }}</li>
						}
					</ul>
				</article>
			}
        </main>
    </div>
</section>
