.gauge-wrapper {
    width: 100%;
    margin-top: 4px;
    padding: 2px 8px;

    position: relative;

    display: flex;
    justify-content: space-between;

    background-color: rgb(200, 200, 200);

    user-select: none;

    > span {
      z-index: 2;
    }
}

.gauge-filler {
    height: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: rgb(150, 150, 200);
}