@import '../../../../assets/style/theme.scss';

.home-asset__card-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(25em, 1fr));
    gap: 1em;
    max-width: 930px;
    margin: 0 auto;
}

.home-asset__card {
    position: relative;
    border: 1px solid $app-black;
    border-radius: 1em;
    box-shadow: 2px 2px $app-black;
    margin: 1em;
    padding: 1em;
    width: 25em;
    height: calc(25em / 1.618);
    background-color: $app-white;

    &:nth-child(2n+1) {
        margin-right: auto;
    }

    &:nth-child(2n) {
        margin-left: auto;
    }

    &:nth-child(1), &:nth-child(4) {
        transform: rotate(2deg);
    }
    
    &:nth-child(2), &:nth-child(3) {
        transform: rotate(-2deg);
    }
}

.home-asset__card-title {
    margin-top: 0;
    text-align: center;
}

.home-asset__card-face {
    position: absolute;
    width: calc(100% - 2em);
    top: .7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-asset__card-face-reverse {
    position: absolute;
    width: calc(100% - 2em);
    bottom: .7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: rotate(180deg);
}

.home-asset__token {
    position: absolute;
    top: calc(50% - 5em);
    left: calc(50% - 5em);
    height: 10em;
    width: 10em;
    border: 1px solid $app-black;
    border-radius: 50%;
    box-shadow: 2px 2px $app-black;
    background-color: $app-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-asset__token-image-wrapper {
    height: 7.5em;
    width: 7.5em;
    margin: 1.25em;
    border: 1px solid $app-black;
    border-radius: 50%;
    background-color: $app-white;
    overflow: hidden;
}

.home-asset__token-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.home-asset__more {
    position: absolute;
    top: calc(50% + 3em);
    left: calc(50% - 2em);
    height: 4em;
    width: 4em;
    border: 1px solid $app-black;
    border-radius: 50%;
    box-shadow: 2px 2px $app-black;
    background-color: $app-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-asset__more-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    border: 1px solid $app-black;
    border-radius: 50%;
    background-color: $app-white;
    color: $app-black;
    text-decoration: none !important;

    > span {
        font-size: 1.5rem;
    }
}