<section class="page-section" id="experience-section">
    <div class="container">
        <h2 class="text-center iconed-text">
            {{ "That's all me!" | translate:'assets' }}
        </h2>
        <div class="home-asset__card-wrapper">
            <article class="home-asset__card" *ngFor="let asset of assets">
                <h3 class="home-asset__card-title">{{ asset.title }}</h3>
                <p>{{ asset.description }}</p>
                <aside class="home-asset__card-face">
                    <span>A</span>
                    <span class="icon-heart"></span>
                </aside>
                <aside class="home-asset__card-face-reverse">
                    <span>A</span>
                    <span class="icon-heart"></span>
                </aside>
            </article>
            <div class="home-asset__token">
                <div class="home-asset__token-image-wrapper">
                    <img class="home-asset__token-image" [src]="images.siteMainImage" alt="Sébastien Cayet"/>
                </div>
            </div>
            <div class="home-asset__more">
                <a class="home-asset__more-icon"
                    [routerLink]="routes.app.experience"
                    routerLinkActive="active">
                    <span class="icon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</section>
