<div class="banner-container gradient-animation">
	<!-- Just for some square animation -->
	<ul class="circles-animation">
		<li *ngFor="let i of [0,0,0,0,0,0,0,0,0,0]"></li>
	</ul>
	<!-- Now, the true content of the banner -->
	<div class="banner-text py-3">
		<h1 id="title">{{ 'Sébastien CAYET' | translate:'title' }}</h1>
		<h2 id="subtitle">{{ "Bonjour! Je suis en développeur web!" | translate:'subtitle' }}</h2>
		<p id="description">
			{{ "I'm currently working..." | translate:'siteDescription' }}
		</p>
	</div>
</div>