<section class="banner-container gradient-animation">
	<ul class="circles-animation">
		<li *ngFor="let i of [0,0,0,0,0,0,0,0,0,0]"></li>
	</ul>
	<main class="banner__text py-3">
		<p id="greatings">
      {{ 'Greatings!' | translate:'greatings' }}
    </p>
    <p id="greatings_description">
      {{ 'I\'m Sébastien, (mostly) a Web developer for 4 years now.' | translate:'greatingsDescription' }}
    </p>
    <p id="greatings_current">
      {{ 'Currently an Angular Techlead for Klanik, in Lyon.' | translate:'greatingsOccupation' }}
    </p>
  </main>
  <aside class="banner__more">
    <span>More<br/>below<br/></span>
    <div class="banner__more-icon">
      <span class="icon-arrow-down"></span>
    </div>
  </aside>
</section>
