<app-header-main></app-header-main>
<app-home-banner></app-home-banner>
<app-subtitle-banner></app-subtitle-banner>
<app-home-roles [roleItem]="resume.getRoles()"></app-home-roles>
<app-home-about [resume]="resume"></app-home-about>
<app-home-presentation [resume]="resume"></app-home-presentation>
<app-home-experiences [experiences]="resume.getExperiences()"></app-home-experiences>
<app-home-portefolio [portefolio]="resume.getPortefolio()"></app-home-portefolio>
<!-- <app-contact-panel></app-contact-panel> -->
