@use './../../../assets/style/colors.scss';

.taste-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;

    .taste-item {
        position: relative;
        background-color: colors.$app-grey;
        color: colors.$app-white;
        height: 94px;
        overflow: hidden;

        .taste-item-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            bottom: 0;
            background-color: rgba(colors.$app-black, 0.1);
            height: 100%;
            width: 100%;
            padding: 0.5rem 1rem;
            text-align: center;
            transition: 0.5s;
            z-index: 2;
        }

        .taste-item-image {
            position: absolute;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            z-index: 1;
        }

        .taste-item-text {
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        &:hover, &:focus {
            .taste-item-content {
                background-color: rgba(colors.$app-black, 0.6);
            }
        }
    }
}

.knowledge-wrapper {
    height: 100%;
    padding: 0;
    border: 2px solid colors.$app-black;
    background-color: rgba(colors.$app-black, 0.05);

    .knowledge-title {
        margin: 0;
        padding: 0.4em;
        background-color: colors.$app-black;
        color: colors.$app-white;
    }

    .knowledge-list {
        margin: 0;
        padding: 0.5em;
        list-style: none;

        .knowledge-list-item {
            display: flex;
            justify-content: space-between;
        }
    }
}

.language-wrapper {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 16px;

    .language-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}

.experience-icon {
    font-size: 4em;
    color: colors.$app-white;
    text-shadow: 2px 2px 4px colors.$app-black;
}

#portefolio-section {
    padding-bottom: 10px;
}

.portefolio-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    .portefolio-item {
        position: relative;
        background-color: colors.$app-grey;
        color: colors.$app-white;
        margin-bottom: 30px;
        height: 200px;
        overflow: hidden;

        .portefolio-item-content {
            position: absolute;
            bottom: 0;
            background-color: rgba(colors.$app-black, 0.6);
            width: 100%;
            height: calc(1rem + 1.2em);
            padding: 0.5rem 1rem;
            transition: 0.5s;
            z-index: 2;

            .portefolio-item-title {
                margin: 0;
                font-family: "Varela Round", "Valera", sans-serif;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
        }

        .portefolio-item-image {
            position: absolute;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            z-index: 1;
        }

        &:hover, &:focus {
            .portefolio-item-content {
                height: 100%;
            }
        }
    }
}

.profile-picture-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;

    > * { padding: 0 16px; }
}
