<section class="home-banner-wrapper">
  <app-banner></app-banner>
</section>

<!-- Presentation Section -->
<section class="page-section"  id="presentation-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 align-self-center mb-auto">
        <div class="profile-picture-wrapper">
          <img [src]="images.profilImage"/>
        </div>
      </div>
      <div class="col-md-8 align-self-center mb-auto">
        <h2 class="text-center iconed-text">
          <app-icon icon="icon-user-solid"></app-icon>
          <span>{{ 'A propos' | translate:'aboutMe' }}</span>
        </h2>
        <article *ngIf="resume.getPresentation()">
          <p class="text-justify">
            {{ resume.getPresentation().description }}
          </p>
        </article>
        <aside class="row">
          <div class="col-md-6 align-self-center mb-auto">
            <h3 class="text-center">
              {{ 'Mes goûts' | translate:'myTastes' }}
            </h3>
            <ul class="taste-wrapper">
              <li class="taste-item"
                *ngFor="let item of resume.getTastes()">
                <img class="taste-item-image" src="{{ item.image }}"/>
                <div class="taste-item-content">
                  <span class="taste-item-text">{{ item.title }}</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6 align-self-center">
            <h3 class="text-center">
              {{ 'Mon style' | translate:'myStyle' }}
            </h3>
            <ng-container *ngFor="let charac of resume.getCharacteristics()">
              <app-gauge [title]="charac.title" [value]="charac.level"></app-gauge>
            </ng-container>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>

<!-- Experience Section -->
<section class="page-section alternative-color" id="experience-section">
  <h2 class="text-center iconed-text">
    <app-icon icon="icon-address-card-solid"></app-icon>
    <span>{{ 'Expériences' | translate:'experiences' }}</span>
  </h2>
  <div class="container">
    <article class="row">
      <div *ngFor="let asset of resume.getAssets()"
        class="col-sm-12 col-md-6 col-lg-3 text-center">
        <div>
          <app-icon class="experience-icon" [icon]="asset.image"></app-icon>
        </div>
        <h4>{{ asset.title }}</h4>
        <p>{{ asset.description }}</p>
      </div>
    </article>
  </div>
  <div class="d-flex justify-content-center">
    <a class="button"
      [routerLink]="routes.app.experience"
      routerLinkActive="active">
      {{ 'Voir mes expériences' | translate:'seeExperiences' }}
    </a>
  </div>
</section>

<!-- Competence Section -->
<section class="page-section" id="competence-section">
  <h2 class="text-center iconed-text">
    <app-icon icon="icon-tools-solid"></app-icon>
    <span>{{ 'Compétences' | translate: 'competences' }}</span>
  </h2>
  <div class="container">
    <article class="row">
      <h3 class="col-12">
        {{ 'Connaissances' | translate:'knowledge' }}
      </h3>
      <div class="col-md-4" *ngFor="let skillType of resume.getSkillTypes()">
        <div class="knowledge-wrapper">
          <h4 class="knowledge-title">{{ '' | translate: skillType }}</h4>
          <ul class="knowledge-list">
            <li *ngFor="let skill of resume.getSkills(skillType)"
              class="knowledge-list-item">
              <strong>{{ skill.title }}</strong>
              <app-star-gauge value="{{ skill.level }}"></app-star-gauge>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="row">
      <h3 class="col-12">{{ 'Langues' | translate:'languages' }}</h3>
      <p class="col-md-4 text-justify">
        {{ 'a' | translate:'languagesText' }}
      </p>
      <ul class="col-md-8 language-wrapper">
        <li class="language-item"
          *ngFor="let language of resume.getLanguages()">
          <app-circle-gauge
            [value]="language.level"
            [text]="language.title"
            [backgroundUrl]="language.image">
          </app-circle-gauge>
          <span>{{ language.rank }}</span>
        </li>
      </ul>
    </article>
    <div class="d-flex justify-content-center">
      <a class="button"
        [routerLink]="routes.app.experience"
        routerLinkActive="active">
        {{ 'Voir mes compétences' | translate:'seeCompetences' }}
      </a>
    </div>
  </div>
</section>

<!-- Portefolio Section -->
<section class="page-section alternative-color" id="portefolio-section">
  <h2 class="text-center iconed-text">
    <app-icon icon="icon-images-solid"></app-icon>
    <span>{{ 'Portefolio' | translate:'portefolio' }}</span>
  </h2>
  <div class="container">
    <ul class="portefolio-wrapper row">
      <li class="col-md-6 col-xl-4"
        *ngFor="let item of resume.getPortefolio()">
        <div class="portefolio-item">
          <img class="portefolio-item-image" src="{{ item.image }}"/>
          <div class="portefolio-item-content">
            <h3 class="portefolio-item-title">{{ item.title }}</h3>
            <p class="text-justify">{{ item.description }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Contact Section -->
<app-contact-panel></app-contact-panel>