@import './../../../assets/style/colors.scss';

.page-header {
    margin: 0;
    padding: 0.4em;
    color: $app-white;
    text-align: center;
}

.experience-panel {
    &:not(:last-child) {
        margin-bottom: 16px;
        border-bottom: 1px solid rgb(200,200,200);
    }

    &:nth-child(2n) {
        text-align: right;
    }
}

.education-panel {
    .education-panel-header {
        margin-bottom: 16px;
    }
}

.skill-list {
    margin: 0;
    padding: 0;
    list-style: none;
}